/* ==========================================================================
  MQ CONFIG
========================================================================== */

$mq-breakpoints: (
  tablet:           768px,
  tabletHor:        1024px,
  desktop:          1280px,
  wide:             1920px,
);